<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-inner">
      <p class="footer-copy">{{ site.author_name }}</p>
      <ul class="footer-links">
        <li><a href="mailto:{{ site.email }}">Email</a></li>
        <li><a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">GitHub</a></li>
        <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/sricharanchiruvolu/" target="_blank" rel="noopener">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</footer>
