---
layout: default
title: Photography
permalink: /photography/
---

<h1>{{ page.title }}</h1>

<p>
  I recently discovered a love for photography, and this is a place where I share some of the photos I’ve taken along the way. I currently shoot with a Fujifilm X-T50, along with the XF 16–50mm, XF 35mm f/2, XF 70–300mm, and Samyang 12mm f/2 lenses. I also use my iPhone 17 Pro for everyday photography.
</p>
  
  <p>You can also follow more of my work on <a
    href="https://instagram.com/shots.by.sri" target="_blank">Instagram</a>.</p>

<!-- 
{% assign count = 0 %}
{% assign align = "left" %}
{% for gallery in site.data.galleries.overview %}
{% if count == 0 %}<div class="row">{% endif %}
  <div class="half-width gallery-preview {{ align }}">
    <h1>{{ gallery.title }}</h1>
    <a href="{{ site.url }}{{ site.baseurl }}/photography/{{ gallery.directory }}.html">
      <img alt="{{ gallery.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/photography/{% if gallery.picture_path %}{{ gallery.picture_path }}{% else %}{{ gallery.directory }}{% endif %}/{{ gallery.preview.thumbnail }}" />
    </a>
  </div>
{% if count == 1 %}</div>{% endif %}
{% assign count = count | plus: 1 %}
{% assign align = "right" %}
{% if count >= 2 %}
{% assign align = "left" %}
{% assign count = 0 %}
{% endif %}
{% endfor %}

{% if count != 1 %}
</div>
{% endif %} -->
